@page "/products"
@using Blackout.Components.Pages.Components
@inject IBLService blService;
@inject NavigationManager NavMan;

<h3>Product Overview</h3>
<a href="/products/create" class="btn btn-primary mb-3">Create New Product</a>

    <ProductList Products="Products" />

@code {
    public List<Product> Products { get; set; } = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        Products = await blService.GetAllProductsAsync();
    }
}
