@page  "/units/edit/{UnitID}"
@inject IBLService blService;
@inject NavigationManager NavMan;
@using Blackout.Components.Pages.Components
@using Blackout.Models;
@using Microsoft.IdentityModel.Tokens
@using Microsoft.VisualBasic

<h3>Edit Unit</h3>

<UnitForm UnitID="@UnitID" OnSave="UpdateUnit"/>

@code {
    [Parameter]
    public string? UnitID { get; set; }

    // for edit we rely on the form fetching the existing unit by
    // UnitID and then returning it on save via the callback.
    public string errorMessage { get; set; } = string.Empty;

    private async Task UpdateUnit(Unit unit)
    {
        await blService.UpdateUnitAsync(unit);
        NavMan.NavigateTo("/units/" + unit.UnitID);
    }
}