@page  "/units/edit/{UnitID}"
@inject IBLService blService;
@inject NavigationManager NavMan;
@using Blackout.Components.Pages.Components
@using Blackout.Models;
@using Microsoft.IdentityModel.Tokens
@using Microsoft.VisualBasic

<h3>Edit Unit</h3>

@if(unit == null)
{
    <p>Loading...</p>
}
else
{
    <UnitForm Unit="@unit" OnSave="UpdateUnit"/>
}


@code {
    [Parameter]
    public string? UnitID { get; set; }
    public Unit? unit { get; set; }
    public string errorMessage { get; set; } = string.Empty;

    private async Task UpdateUnit(Unit unit)
    {
        await blService.UpdateUnitAsync(unit);
        NavMan.NavigateTo("/units/" + unit.UnitID);
    }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(UnitID))
        {
            unit = await blService.GetUnitByIdAsync(UnitID);
        }

    }
}