@page  "/units/create"
@inject IBLService blService;
@inject NavigationManager NavMan;
@using Microsoft.IdentityModel.Tokens

<h3>Create New Unit</h3>

<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="@newUnit" OnValidSubmit="CreateUnit" FormName="createUnitForm">
            <DataAnnotationsValidator />
            <ValidationSummary />
            @if(!errorMessage.IsNullOrEmpty())
            {
            <div class="mb-3">
                <label class="text-danger">@errorMessage</label>
            </div>
            }

            <div class="mb-3">
                <label class="form-label">Unit ID</label>
                <InputText class="form-control" @bind-Value="newUnit.UnitID" />
                <ValidationMessage For="@(() => newUnit.UnitID)" />
            </div>

            <div class="mb-3">
                <label class="form-label">Unit Notes</label>
                <InputText class="form-control" @bind-Value="newUnit.Notes" />
                <ValidationMessage For="@(() => newUnit.Notes)" />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>



@code {
    [Parameter]
    public string? UnitID { get; set; } = string.Empty;

    [SupplyParameterFromForm]
    public Unit newUnit { get; set; } = new Unit();
    public string errorMessage { get; set; } = string.Empty;
    private async Task CreateUnit()
    {
        await blService.AddUnitAsync(newUnit);
        NavMan.NavigateTo("/units/" + newUnit.UnitID);
    }
}